.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1em;
  justify-content: center;
  margin: 1em 0;
  padding: 2em;

  // @media (min-width: 550px) {
  //   padding: 1em;
  // }

  @media (min-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.product-card {
  display: grid;
  grid-auto-flow: row;
  margin: 0 auto;
  gap: 1em;
  border-radius: 10px;
  border: 1px solid black;
  padding: 1em;

  @media (min-width: 900px) {
    grid-auto-flow: column;
    grid-template-columns: auto 3fr 1fr 1fr;
    max-width: 1100px;
    padding: 0;
  }

  &__name {
    font-size: 1.5rem;
  }

  &__rating {
    font-size: 24px;
    color: rgb(218, 218, 0);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 900px) {
      justify-content: flex-start;
    }
  }

  &__rating-text {
    color: black;
    margin: 0 6px;
    font-size: 14px;

    // Fix for ascii stars that are not centered due to the actual ascii-symbol.
    margin-top: 4px;
  }

  &__image {
    justify-self: center;
    max-height: 200px;
    max-width: 200px;
    width: 100%;
    object-fit: contain;

    @media (min-width: 900px) {
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 1em;
    }

    & > img {
      height: 100%;
      width: 100%;
    }
  }

  &__price-container {
    justify-self: end;
    font-size: 24px;
    display: flex;
    flex-direction: row;

    & > p {
      margin: 0 3px;
    }

    @media (min-width: 900px) {
      align-self: center;
      justify-self: center;
    }
  }

  &__btn-container {
    justify-self: center;

    @media (min-width: 900px) {
      align-self: center;
    }
  }

  &__btn {
    border-color: #179599;
    background: #179599 50%;
    color: #fff;
    transition: border-color 0.2s ease, background 0.2s ease, color 0.2s ease;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    border: 1px solid transparent;
    font-size: 1rem;
    height: 44px;
    white-space: nowrap;

    &:hover {
      border-color: #0d696c;
      cursor: pointer;
      background: #0d696c radial-gradient(circle, transparent 1%, #179599 0) 50%/15000%;
      color: #fff;
    }
  }
}
